# In this notebook

## I will subset the data for each year by filtering for only those Origin airports identified as Hubs or Operation Centers.
## This will reduce noise and improve the accessibility of the delivery and scope of the analysis.

In [1]:
import pandas as pd
import os

In [2]:
path = r'D:\Data Analytics\Flight Delay Analysis\01 - Data\Wrangled Data'

In [3]:
df = pd.read_csv(os.path.join(path, 'flights2023.csv'), index_col=0)

C:\Users\Josh Wattay\AppData\Local\Temp\ipykernel_18088\2980056371.py:1: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(path, 'flights2023.csv'), index_col=0)

In [4]:
df.shape

(7278739, 60)

In [5]:
df.head()

,Year,Quarter,Month,Day_of_Month,Day_of_Week,Flight_Date,Marketing_Airline_Network_Code,IATA_Code_Marketing_Airline,Operating_Airline,IATA_Code_Operating_Airline,...,Distance_Group,Carrier_Delay,Weather_Delay,NAS_Delay,Security_Delay,Late_Aircraft_Delay,Duplicate,Missing_Due_To_Cancellation,Airline,Marketing_Airline_Network
0,2023,1,1,22,7,2023-01-22,B6,B6,B6,B6,...,5,NaN,NaN,NaN,NaN,NaN,N,False,JetBlue Airways,JetBlue Airways
1,2023,1,1,22,7,2023-01-22,B6,B6,B6,B6,...,5,39.0,0.0,1.0,0.0,14.0,N,False,JetBlue Airways,JetBlue Airways
2,2023,1,1,22,7,2023-01-22,B6,B6,B6,B6,...,5,7.0,0.0,16.0,0.0,0.0,N,False,JetBlue Airways,JetBlue Airways
3,2023,1,1,22,7,2023-01-22,B6,B6,B6,B6,...,5,NaN,NaN,NaN,NaN,NaN,N,False,JetBlue Airways,JetBlue Airways
4,2023,1,1,22,7,2023-01-22,B6,B6,B6,B6,...,2,NaN,NaN,NaN,NaN,NaN,N,False,JetBlue Airways,JetBlue Airways

In [6]:
df.tail()

,Year,Quarter,Month,Day_of_Month,Day_of_Week,Flight_Date,Marketing_Airline_Network_Code,IATA_Code_Marketing_Airline,Operating_Airline,IATA_Code_Operating_Airline,...,Distance_Group,Carrier_Delay,Weather_Delay,NAS_Delay,Security_Delay,Late_Aircraft_Delay,Duplicate,Missing_Due_To_Cancellation,Airline,Marketing_Airline_Network
7278734,2023,4,12,26,2,2023-12-26,AA,AA,OO,OO,...,2,NaN,NaN,NaN,NaN,NaN,N,False,SkyWest Airlines Inc.,American Airlines Inc.
7278735,2023,4,12,24,7,2023-12-24,UA,UA,OO,OO,...,2,NaN,NaN,NaN,NaN,NaN,N,False,SkyWest Airlines Inc.,United Airlines Inc.
7278736,2023,4,12,24,7,2023-12-24,UA,UA,OO,OO,...,2,NaN,NaN,NaN,NaN,NaN,N,False,SkyWest Airlines Inc.,United Airlines Inc.
7278737,2023,4,12,24,7,2023-12-24,UA,UA,OO,OO,...,2,NaN,NaN,NaN,NaN,NaN,N,False,SkyWest Airlines Inc.,United Airlines Inc.
7278738,2023,4,12,25,1,2023-12-25,AA,AA,OO,OO,...,2,NaN,NaN,NaN,NaN,NaN,N,False,SkyWest Airlines Inc.,American Airlines Inc.

In [7]:
# Define the list of Origin airports to keep
# This list is determined by the Hubs and Operation Centers identified at airfarewatchdog.com (url below)
# https://www.airfarewatchdog.com/blog/50066526/airline-hub-guide-which-u-s-cities-are-major-hubs-and-why-it-matters/

airports_to_keep = [
    'SEA', 'ANC', 'LAX', 'PDX', 'SFO', 'DFW', 'CLT', 'ORD', 'MIA', 'JFK', 
    'LGA', 'PHL', 'PHX', 'DCA', 'ATL', 'BOS', 'DTW', 'MSP', 'SLC', 'RDU', 
    'DEN', 'IAH', 'EWR', 'IAD', 'HNL', 'OGG', 'KOA', 'LIH', 'LAS', 'MCO', 
    'PHL', 'OAK', 'DAL', 'MDW', 'BWI', 'HOU'
]

In [8]:
# Filter the dataframe to keep only the specified Origin airports

filtered_df = df[df['Origin'].isin(airports_to_keep)]

In [9]:
filtered_df.shape

(4669316, 60)

In [10]:
filtered_df.columns

Index(['Year', 'Quarter', 'Month', 'Day_of_Month', 'Day_of_Week',
       'Flight_Date', 'Marketing_Airline_Network_Code',
       'IATA_Code_Marketing_Airline', 'Operating_Airline',
       'IATA_Code_Operating_Airline', 'Tail_Number',
       'Flight_Number_Operating_Airline', 'Origin_Airport_ID',
       'Origin_Airport_Seq_ID', 'Origin_City_Market_ID', 'Origin',
       'Origin_City_Name', 'Origin_State', 'Origin_State_Name',
       'Dest_Airport_ID', 'Dest_Airport_Seq_ID', 'Dest_City_Market_ID', 'Dest',
       'Dest_City_Name', 'Dest_State', 'Dest_State_Name', 'CRS_Dep_Time',
       'Dep_Time', 'Dep_Delay', 'Dep_Delay_Minutes', 'Dep_Del_15',
       'Departure_Delay_Groups', 'Dep_Time_Blk', 'Wheels_Off', 'Wheels_On',
       'CRS_Arr_Time', 'Arr_Time', 'Arr_Delay', 'Arr_Delay_Minutes',
       'Arr_Del_15', 'Arrival_Delay_Groups', 'Arr_Time_Blk', 'Cancelled',
       'Cancellation_Code', 'Diverted', 'CRS_Elapsed_Time',
       'Actual_Elapsed_Time', 'Air_Time', 'Flights', 'Distance',
       'Distance_Group', 'Carrier_Delay', 'Weather_Delay', 'NAS_Delay',
       'Security_Delay', 'Late_Aircraft_Delay', 'Duplicate',
       'Missing_Due_To_Cancellation', 'Airline', 'Marketing_Airline_Network'],
      dtype='object')

In [11]:
# Drop unused columns irrelevant to scope of further analysis

filtered_df = filtered_df.drop(columns=['IATA_Code_Operating_Airline', 'IATA_Code_Marketing_Airline', 'Origin_Airport_ID',
                                        'Origin_Airport_Seq_ID', 'Origin_City_Market_ID', 'Dest_Airport_ID',
                                        'Dest_Airport_Seq_ID', 'Dest_City_Market_ID', 'CRS_Dep_Time', 'Wheels_Off',
                                        'Wheels_On', 'CRS_Arr_Time', 'CRS_Elapsed_Time'
                                       ])

In [12]:
filtered_df.shape

(4669316, 47)

In [13]:
# Save Filtered 2023 Data for Analysis

filtered_df.to_csv(os.path.join(path, 'flights2023_filtered.csv'))