In [1]:
#import libraries

import os
import pandas as pd
import numpy as np

In [2]:
#set path

path = r'D:\Data Analytics\Flight Delay Analysis\01 - Data\Wrangled Data'

In [3]:
#import data

df2019 = pd.read_csv(os.path.join(path, 'flights2019.csv'), index_col = 0)

C:\Users\Josh Wattay\AppData\Local\Temp\ipykernel_15560\2742599022.py:3: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  df2019 = pd.read_csv(os.path.join(path, 'flights2019.csv'), index_col = 0)

In [4]:
df2019.shape

(8091684, 60)

In [5]:
df2019.head()

,Year,Quarter,Month,Day_of_Month,Day_of_Week,Flight_Date,Marketing_Airline_Network_Code,IATA_Code_Marketing_Airline,Operating_Airline,IATA_Code_Operating_Airline,...,Distance_Group,Carrier_Delay,Weather_Delay,NAS_Delay,Security_Delay,Late_Aircraft_Delay,Duplicate,Missing_Due_To_Cancellation,Airline,Marketing_Airline_Network
0,2019,1,1,4,5,2019-01-04,UA,UA,OO,OO,...,1,NaN,NaN,NaN,NaN,NaN,N,False,SkyWest Airlines Inc.,United Airlines Inc.
1,2019,1,1,4,5,2019-01-04,UA,UA,OO,OO,...,2,NaN,NaN,NaN,NaN,NaN,N,False,SkyWest Airlines Inc.,United Airlines Inc.
2,2019,1,1,4,5,2019-01-04,UA,UA,OO,OO,...,3,NaN,NaN,NaN,NaN,NaN,N,False,SkyWest Airlines Inc.,United Airlines Inc.
3,2019,1,1,4,5,2019-01-04,UA,UA,OO,OO,...,3,NaN,NaN,NaN,NaN,NaN,N,False,SkyWest Airlines Inc.,United Airlines Inc.
4,2019,1,1,4,5,2019-01-04,UA,UA,OO,OO,...,4,NaN,NaN,NaN,NaN,NaN,N,False,SkyWest Airlines Inc.,United Airlines Inc.

In [6]:
df2019.tail()

,Year,Quarter,Month,Day_of_Month,Day_of_Week,Flight_Date,Marketing_Airline_Network_Code,IATA_Code_Marketing_Airline,Operating_Airline,IATA_Code_Operating_Airline,...,Distance_Group,Carrier_Delay,Weather_Delay,NAS_Delay,Security_Delay,Late_Aircraft_Delay,Duplicate,Missing_Due_To_Cancellation,Airline,Marketing_Airline_Network
8091679,2019,4,12,10,2,2019-12-10,UA,UA,UA,UA,...,3,NaN,NaN,NaN,NaN,NaN,N,False,United Air Lines Inc.,United Airlines Inc.
8091680,2019,4,12,10,2,2019-12-10,UA,UA,UA,UA,...,7,NaN,NaN,NaN,NaN,NaN,N,False,United Air Lines Inc.,United Airlines Inc.
8091681,2019,4,12,10,2,2019-12-10,UA,UA,UA,UA,...,4,NaN,NaN,NaN,NaN,NaN,N,False,United Air Lines Inc.,United Airlines Inc.
8091682,2019,4,12,10,2,2019-12-10,UA,UA,UA,UA,...,4,NaN,NaN,NaN,NaN,NaN,N,False,United Air Lines Inc.,United Airlines Inc.
8091683,2019,4,12,10,2,2019-12-10,UA,UA,UA,UA,...,10,NaN,NaN,NaN,NaN,NaN,N,False,United Air Lines Inc.,United Airlines Inc.

## Need to combine 5 samples from each combined data set for Tableau analysis. 
### Starting with 2019 below

In [7]:
#creating sample of 250,000 records from 2019 data

sample19 = pd.read_csv(os.path.join(path, 'flights2019.csv')).sample(250000, random_state = 11)

C:\Users\Josh Wattay\AppData\Local\Temp\ipykernel_15560\4279558183.py:3: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  sample19 = pd.read_csv(os.path.join(path, 'flights2019.csv')).sample(250000, random_state = 11)

In [8]:
sample19.head()

,Unnamed: 0,Year,Quarter,Month,Day_of_Month,Day_of_Week,Flight_Date,Marketing_Airline_Network_Code,IATA_Code_Marketing_Airline,Operating_Airline,...,Distance_Group,Carrier_Delay,Weather_Delay,NAS_Delay,Security_Delay,Late_Aircraft_Delay,Duplicate,Missing_Due_To_Cancellation,Airline,Marketing_Airline_Network
4706373,4706373,2019,3,8,16,5,2019-08-16,DL,DL,9E,...,3,NaN,NaN,NaN,NaN,NaN,N,False,Endeavor Air Inc.,Delta Air Lines Inc.
1094369,1094369,2019,1,2,28,4,2019-02-28,AA,AA,PT,...,1,NaN,NaN,NaN,NaN,NaN,N,False,Capital Cargo International,American Airlines Inc.
1663959,1663959,2019,1,3,3,7,2019-03-03,WN,WN,WN,...,3,NaN,NaN,NaN,NaN,NaN,N,False,Southwest Airlines Co.,Southwest Airlines Co.
1459243,1459243,2019,1,3,31,7,2019-03-31,DL,DL,OO,...,3,NaN,NaN,NaN,NaN,NaN,N,False,SkyWest Airlines Inc.,Delta Air Lines Inc.
340728,340728,2019,1,1,25,5,2019-01-25,WN,WN,WN,...,1,NaN,NaN,NaN,NaN,NaN,N,False,Southwest Airlines Co.,Southwest Airlines Co.

In [9]:
sample19.tail()

,Unnamed: 0,Year,Quarter,Month,Day_of_Month,Day_of_Week,Flight_Date,Marketing_Airline_Network_Code,IATA_Code_Marketing_Airline,Operating_Airline,...,Distance_Group,Carrier_Delay,Weather_Delay,NAS_Delay,Security_Delay,Late_Aircraft_Delay,Duplicate,Missing_Due_To_Cancellation,Airline,Marketing_Airline_Network
7509483,7509483,2019,4,12,2,1,2019-12-02,AA,AA,AA,...,3,NaN,NaN,NaN,NaN,NaN,N,False,American Airlines Inc.,American Airlines Inc.
6298968,6298968,2019,4,10,29,2,2019-10-29,UA,UA,UA,...,11,NaN,NaN,NaN,NaN,NaN,N,False,United Air Lines Inc.,United Airlines Inc.
4674349,4674349,2019,3,7,27,6,2019-07-27,UA,UA,EV,...,1,NaN,NaN,NaN,NaN,NaN,N,False,ExpressJet Airlines Inc.,United Airlines Inc.
1972149,1972149,2019,2,4,17,3,2019-04-17,DL,DL,9E,...,2,NaN,NaN,NaN,NaN,NaN,N,False,Endeavor Air Inc.,Delta Air Lines Inc.
7532509,7532509,2019,4,12,7,6,2019-12-07,F9,F9,F9,...,7,NaN,NaN,NaN,NaN,NaN,N,False,Frontier Airlines Inc.,Frontier Airlines Inc.

In [10]:
sample19.shape

(250000, 61)

In [11]:
# Drop the duplicate index column and drop additional columns irrelevant to what is needed for Tableau
sample19 = sample19.drop(columns=['Unnamed: 0', 'Origin_Airport_Seq_ID', 'Origin_City_Market_ID', 'Dest_Airport_Seq_ID',
                                  'Dest_City_Market_ID'])

In [12]:
sample19.shape

(250000, 56)

In [13]:
# Export 2019 Sample Data to CSV for Tableau analysis.

sample19.to_csv(os.path.join(path, 'Sample2019.csv'), index=False)  

# Specify index=False to avoid writing row numbers as a column

## Now Creating Sample for 2020 Flight Data

In [14]:
#creating sample of 250,000 records from 2020 combined data

sample20 = pd.read_csv(os.path.join(path, 'flights2020.csv')).sample(250000, random_state = 11)

C:\Users\Josh Wattay\AppData\Local\Temp\ipykernel_15560\2356013505.py:3: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  sample20 = pd.read_csv(os.path.join(path, 'flights2020.csv')).sample(250000, random_state = 11)

In [15]:
sample20.head()

,Unnamed: 0,Year,Quarter,Month,Day_of_Month,Day_of_Week,Flight_Date,Marketing_Airline_Network_Code,IATA_Code_Marketing_Airline,Operating_Airline,...,Distance_Group,Carrier_Delay,Weather_Delay,NAS_Delay,Security_Delay,Late_Aircraft_Delay,Duplicate,Missing_Due_To_Cancellation,Airline,Marketing_Airline_Network
3862647,3862647,2020,4,10,20,2,2020-10-20,UA,UA,YV,...,5,NaN,NaN,NaN,NaN,NaN,N,False,Mesa Airlines Inc.,United Airlines Inc.
2654512,2654512,2020,2,6,14,7,2020-06-14,WN,WN,WN,...,2,NaN,NaN,NaN,NaN,NaN,N,False,Southwest Airlines Co.,Southwest Airlines Co.
2020174,2020174,2020,2,4,15,3,2020-04-15,AA,AA,OH,...,1,NaN,NaN,NaN,NaN,NaN,N,False,Comair Inc.,American Airlines Inc.
972377,972377,2020,1,2,23,7,2020-02-23,DL,DL,9E,...,3,NaN,NaN,NaN,NaN,NaN,N,False,Endeavor Air Inc.,Delta Air Lines Inc.
2558117,2558117,2020,2,6,7,7,2020-06-07,AA,AA,OO,...,1,NaN,NaN,NaN,NaN,NaN,N,False,SkyWest Airlines Inc.,American Airlines Inc.

In [16]:
sample20.tail()

,Unnamed: 0,Year,Quarter,Month,Day_of_Month,Day_of_Week,Flight_Date,Marketing_Airline_Network_Code,IATA_Code_Marketing_Airline,Operating_Airline,...,Distance_Group,Carrier_Delay,Weather_Delay,NAS_Delay,Security_Delay,Late_Aircraft_Delay,Duplicate,Missing_Due_To_Cancellation,Airline,Marketing_Airline_Network
2409579,2409579,2020,2,5,15,5,2020-05-15,G4,G4,G4,...,4,NaN,NaN,NaN,NaN,NaN,N,False,Allegiant Air,Allegiant Air
3144533,3144533,2020,3,8,9,7,2020-08-09,G4,G4,G4,...,4,0.0,0.0,15.0,0.0,47.0,N,False,Allegiant Air,Allegiant Air
50656,50656,2020,1,1,13,1,2020-01-13,AA,AA,AA,...,4,0.0,0.0,5.0,0.0,18.0,N,False,American Airlines Inc.,American Airlines Inc.
1439325,1439325,2020,1,3,31,2,2020-03-31,B6,B6,B6,...,9,NaN,NaN,NaN,NaN,NaN,N,True,JetBlue Airways,JetBlue Airways
288311,288311,2020,1,1,29,3,2020-01-29,DL,DL,DL,...,2,NaN,NaN,NaN,NaN,NaN,N,False,Delta Air Lines Inc.,Delta Air Lines Inc.

In [17]:
sample20.shape

(250000, 61)

In [18]:
# Drop the duplicate index column and drop additional columns irrelevant to what is needed for Tableau
sample20 = sample20.drop(columns=['Unnamed: 0', 'Origin_Airport_Seq_ID', 'Origin_City_Market_ID', 'Dest_Airport_Seq_ID',
                                  'Dest_City_Market_ID'])

In [19]:
sample20.shape

(250000, 56)

In [20]:
# Export 2020 Sample Data to CSV for Tableau analysis.

sample20.to_csv(os.path.join(path, 'Sample2020.csv'), index=False)  

# Specify index=False to avoid writing row numbers as a column

# Now creating sample for 2021 data

In [21]:
#creating sample of 250,000 records from 2021 combined data

sample21 = pd.read_csv(os.path.join(path, 'flights2021.csv')).sample(250000, random_state = 11)

C:\Users\Josh Wattay\AppData\Local\Temp\ipykernel_15560\654194343.py:3: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  sample21 = pd.read_csv(os.path.join(path, 'flights2021.csv')).sample(250000, random_state = 11)

In [22]:
sample21.head()

,Unnamed: 0,Year,Quarter,Month,Day_of_Month,Day_of_Week,Flight_Date,Marketing_Airline_Network_Code,IATA_Code_Marketing_Airline,Operating_Airline,...,Distance_Group,Carrier_Delay,Weather_Delay,NAS_Delay,Security_Delay,Late_Aircraft_Delay,Duplicate,Missing_Due_To_Cancellation,Airline,Marketing_Airline_Network
3800526,3800526,2021,3,8,16,1,2021-08-16,AS,AS,AS,...,11,NaN,NaN,NaN,NaN,NaN,N,False,Alaska Airlines Inc.,Alaska Airlines Inc.
6157463,6157463,2021,4,12,23,4,2021-12-23,AA,AA,OH,...,2,NaN,NaN,NaN,NaN,NaN,N,False,Comair Inc.,American Airlines Inc.
4462349,4462349,2021,3,9,14,2,2021-09-14,WN,WN,WN,...,4,NaN,NaN,NaN,NaN,NaN,N,False,Southwest Airlines Co.,Southwest Airlines Co.
2163394,2163394,2021,2,5,17,1,2021-05-17,UA,UA,UA,...,2,46.0,0.0,0.0,0.0,0.0,N,False,United Air Lines Inc.,United Airlines Inc.
4494348,4494348,2021,3,9,8,3,2021-09-08,WN,WN,WN,...,4,21.0,0.0,0.0,0.0,2.0,N,False,Southwest Airlines Co.,Southwest Airlines Co.

In [23]:
sample21.tail()

,Unnamed: 0,Year,Quarter,Month,Day_of_Month,Day_of_Week,Flight_Date,Marketing_Airline_Network_Code,IATA_Code_Marketing_Airline,Operating_Airline,...,Distance_Group,Carrier_Delay,Weather_Delay,NAS_Delay,Security_Delay,Late_Aircraft_Delay,Duplicate,Missing_Due_To_Cancellation,Airline,Marketing_Airline_Network
2447975,2447975,2021,2,6,18,5,2021-06-18,AA,AA,MQ,...,1,NaN,NaN,NaN,NaN,NaN,N,False,Envoy Air,American Airlines Inc.
6161543,6161543,2021,4,12,14,2,2021-12-14,AA,AA,OH,...,2,NaN,NaN,NaN,NaN,NaN,N,False,Comair Inc.,American Airlines Inc.
2744250,2744250,2021,2,6,9,3,2021-06-09,UA,UA,UA,...,6,10.0,0.0,4.0,0.0,62.0,N,False,United Air Lines Inc.,United Airlines Inc.
3641658,3641658,2021,3,8,6,5,2021-08-06,UA,UA,UA,...,5,NaN,NaN,NaN,NaN,NaN,N,False,United Air Lines Inc.,United Airlines Inc.
2546328,2546328,2021,2,6,1,2,2021-06-01,AA,AA,AA,...,8,56.0,0.0,0.0,0.0,59.0,N,False,American Airlines Inc.,American Airlines Inc.

In [24]:
sample21.shape

(250000, 61)

In [25]:
# Drop the duplicate index column and drop additional columns irrelevant to what is needed for Tableau
sample21 = sample21.drop(columns=['Unnamed: 0', 'Origin_Airport_Seq_ID', 'Origin_City_Market_ID', 'Dest_Airport_Seq_ID',
                                  'Dest_City_Market_ID'])

In [26]:
sample21.shape

(250000, 56)

In [27]:
# Export 2021 Sample Data to CSV for Tableau analysis.

sample21.to_csv(os.path.join(path, 'Sample2021.csv'), index=False)  

# Specify index=False to avoid writing row numbers as a column

## Creating Sample for 2022 Flight Data

In [28]:
#creating sample of 250,000 records from 2022 combined data

sample22 = pd.read_csv(os.path.join(path, 'flights2022.csv')).sample(250000, random_state = 11)

In [29]:
sample22.head()

,Unnamed: 0,Year,Quarter,Month,Day_of_Month,Day_of_Week,Flight_Date,Marketing_Airline_Network_Code,IATA_Code_Marketing_Airline,Operating_Airline,...,Distance_Group,Carrier_Delay,Weather_Delay,NAS_Delay,Security_Delay,Late_Aircraft_Delay,Duplicate,Missing_Due_To_Cancellation,Airline,Marketing_Airline_Network
1523401,1523401,2022,1,3,13,7,2022-03-13,UA,UA,C5,...,1,NaN,NaN,NaN,NaN,NaN,N,False,"Commutair Aka Champlain Enterprises, Inc.",United Airlines Inc.
2132092,2132092,2022,2,4,12,2,2022-04-12,UA,UA,OO,...,1,NaN,NaN,NaN,NaN,NaN,N,False,SkyWest Airlines Inc.,United Airlines Inc.
3762696,3762696,2022,3,7,4,1,2022-07-04,AA,AA,OH,...,3,20.0,0.0,0.0,0.0,0.0,N,False,Comair Inc.,American Airlines Inc.
1029211,1029211,2022,1,2,25,5,2022-02-25,UA,UA,UA,...,3,NaN,NaN,NaN,NaN,NaN,N,True,United Air Lines Inc.,United Airlines Inc.
6022886,6022886,2022,4,11,9,3,2022-11-09,DL,DL,DL,...,2,NaN,NaN,NaN,NaN,NaN,N,False,Delta Air Lines Inc.,Delta Air Lines Inc.

In [30]:
sample22.tail()

,Unnamed: 0,Year,Quarter,Month,Day_of_Month,Day_of_Week,Flight_Date,Marketing_Airline_Network_Code,IATA_Code_Marketing_Airline,Operating_Airline,...,Distance_Group,Carrier_Delay,Weather_Delay,NAS_Delay,Security_Delay,Late_Aircraft_Delay,Duplicate,Missing_Due_To_Cancellation,Airline,Marketing_Airline_Network
2373234,2373234,2022,2,5,6,5,2022-05-06,UA,UA,UA,...,8,NaN,NaN,NaN,NaN,NaN,N,False,United Air Lines Inc.,United Airlines Inc.
3593520,3593520,2022,3,7,4,1,2022-07-04,UA,UA,UA,...,4,19.0,0.0,0.0,0.0,73.0,N,False,United Air Lines Inc.,United Airlines Inc.
496483,496483,2022,1,1,12,3,2022-01-12,UA,UA,UA,...,4,NaN,NaN,NaN,NaN,NaN,N,False,United Air Lines Inc.,United Airlines Inc.
1273923,1273923,2022,1,3,22,2,2022-03-22,AA,AA,AA,...,8,NaN,NaN,NaN,NaN,NaN,N,False,American Airlines Inc.,American Airlines Inc.
4594072,4594072,2022,3,8,16,2,2022-08-16,DL,DL,DL,...,3,NaN,NaN,NaN,NaN,NaN,N,False,Delta Air Lines Inc.,Delta Air Lines Inc.

In [31]:
sample22.shape

(250000, 61)

In [32]:
# Drop the duplicate index column and drop additional columns irrelevant to what is needed for Tableau
sample22 = sample22.drop(columns=['Unnamed: 0', 'Origin_Airport_Seq_ID', 'Origin_City_Market_ID', 'Dest_Airport_Seq_ID',
                                  'Dest_City_Market_ID'])

In [33]:
sample22.shape

(250000, 56)

In [34]:
# Export 2022 Sample Data to CSV for Tableau analysis.

sample22.to_csv(os.path.join(path, 'Sample2022.csv'), index=False)  

# Specify index=False to avoid writing row numbers as a column

## Creating Sample for 2023 Flight Data

In [35]:
#creating sample of 250,000 records from 2023 combined data

sample23 = pd.read_csv(os.path.join(path, 'flights2023.csv')).sample(250000, random_state = 11)

C:\Users\Josh Wattay\AppData\Local\Temp\ipykernel_15560\3205908681.py:3: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  sample23 = pd.read_csv(os.path.join(path, 'flights2023.csv')).sample(250000, random_state = 11)

In [36]:
sample23.head()

,Unnamed: 0,Year,Quarter,Month,Day_of_Month,Day_of_Week,Flight_Date,Marketing_Airline_Network_Code,IATA_Code_Marketing_Airline,Operating_Airline,...,Distance_Group,Carrier_Delay,Weather_Delay,NAS_Delay,Security_Delay,Late_Aircraft_Delay,Duplicate,Missing_Due_To_Cancellation,Airline,Marketing_Airline_Network
4541418,4541418,2023,3,8,19,6,2023-08-19,AA,AA,AA,...,3,15.0,0.0,0.0,0.0,0.0,N,False,American Airlines Inc.,American Airlines Inc.
3946324,3946324,2023,3,7,4,2,2023-07-04,WN,WN,WN,...,2,NaN,NaN,NaN,NaN,NaN,N,True,Southwest Airlines Co.,Southwest Airlines Co.
6218122,6218122,2023,4,11,21,2,2023-11-21,WN,WN,WN,...,2,NaN,NaN,NaN,NaN,NaN,N,False,Southwest Airlines Co.,Southwest Airlines Co.
6510926,6510926,2023,4,11,29,3,2023-11-29,UA,UA,UA,...,4,NaN,NaN,NaN,NaN,NaN,N,False,United Air Lines Inc.,United Airlines Inc.
2135396,2135396,2023,2,4,21,5,2023-04-21,AA,AA,YX,...,3,NaN,NaN,NaN,NaN,NaN,N,False,Republic Airlines,American Airlines Inc.

In [37]:
sample23.tail()

,Unnamed: 0,Year,Quarter,Month,Day_of_Month,Day_of_Week,Flight_Date,Marketing_Airline_Network_Code,IATA_Code_Marketing_Airline,Operating_Airline,...,Distance_Group,Carrier_Delay,Weather_Delay,NAS_Delay,Security_Delay,Late_Aircraft_Delay,Duplicate,Missing_Due_To_Cancellation,Airline,Marketing_Airline_Network
2300496,2300496,2023,2,4,26,3,2023-04-26,DL,DL,9E,...,1,NaN,NaN,NaN,NaN,NaN,N,False,Endeavor Air Inc.,Delta Air Lines Inc.
6917411,6917411,2023,4,12,8,5,2023-12-08,UA,UA,UA,...,4,6.0,0.0,0.0,0.0,29.0,N,False,United Air Lines Inc.,United Airlines Inc.
742627,742627,2023,1,2,27,1,2023-02-27,UA,UA,OO,...,5,18.0,0.0,0.0,0.0,0.0,N,False,SkyWest Airlines Inc.,United Airlines Inc.
6611684,6611684,2023,4,11,12,7,2023-11-12,F9,F9,F9,...,4,NaN,NaN,NaN,NaN,NaN,N,False,Frontier Airlines Inc.,Frontier Airlines Inc.
204741,204741,2023,1,1,28,6,2023-01-28,AA,AA,AA,...,5,NaN,NaN,NaN,NaN,NaN,N,False,American Airlines Inc.,American Airlines Inc.

In [38]:
sample23.shape

(250000, 61)

In [39]:
# Drop the duplicate index column and drop additional columns irrelevant to what is needed for Tableau
sample23 = sample23.drop(columns=['Unnamed: 0', 'Origin_Airport_Seq_ID', 'Origin_City_Market_ID', 'Dest_Airport_Seq_ID',
                                  'Dest_City_Market_ID'])

In [40]:
sample23.shape

(250000, 56)

In [41]:
# Export 2023 Sample Data to CSV for Tableau analysis.

sample23.to_csv(os.path.join(path, 'Sample2023.csv'), index=False)  

# Specify index=False to avoid writing row numbers as a column

In [42]:
#concatinate samples to combine data for future analysis and data cleaning

samples_combined = pd.concat([sample19, sample20, sample21, sample22, sample23], axis=0)

In [43]:
samples_combined.head()

,Year,Quarter,Month,Day_of_Month,Day_of_Week,Flight_Date,Marketing_Airline_Network_Code,IATA_Code_Marketing_Airline,Operating_Airline,IATA_Code_Operating_Airline,...,Distance_Group,Carrier_Delay,Weather_Delay,NAS_Delay,Security_Delay,Late_Aircraft_Delay,Duplicate,Missing_Due_To_Cancellation,Airline,Marketing_Airline_Network
4706373,2019,3,8,16,5,2019-08-16,DL,DL,9E,9E,...,3,NaN,NaN,NaN,NaN,NaN,N,False,Endeavor Air Inc.,Delta Air Lines Inc.
1094369,2019,1,2,28,4,2019-02-28,AA,AA,PT,PT,...,1,NaN,NaN,NaN,NaN,NaN,N,False,Capital Cargo International,American Airlines Inc.
1663959,2019,1,3,3,7,2019-03-03,WN,WN,WN,WN,...,3,NaN,NaN,NaN,NaN,NaN,N,False,Southwest Airlines Co.,Southwest Airlines Co.
1459243,2019,1,3,31,7,2019-03-31,DL,DL,OO,OO,...,3,NaN,NaN,NaN,NaN,NaN,N,False,SkyWest Airlines Inc.,Delta Air Lines Inc.
340728,2019,1,1,25,5,2019-01-25,WN,WN,WN,WN,...,1,NaN,NaN,NaN,NaN,NaN,N,False,Southwest Airlines Co.,Southwest Airlines Co.

In [44]:
samples_combined.tail()

,Year,Quarter,Month,Day_of_Month,Day_of_Week,Flight_Date,Marketing_Airline_Network_Code,IATA_Code_Marketing_Airline,Operating_Airline,IATA_Code_Operating_Airline,...,Distance_Group,Carrier_Delay,Weather_Delay,NAS_Delay,Security_Delay,Late_Aircraft_Delay,Duplicate,Missing_Due_To_Cancellation,Airline,Marketing_Airline_Network
2300496,2023,2,4,26,3,2023-04-26,DL,DL,9E,9E,...,1,NaN,NaN,NaN,NaN,NaN,N,False,Endeavor Air Inc.,Delta Air Lines Inc.
6917411,2023,4,12,8,5,2023-12-08,UA,UA,UA,UA,...,4,6.0,0.0,0.0,0.0,29.0,N,False,United Air Lines Inc.,United Airlines Inc.
742627,2023,1,2,27,1,2023-02-27,UA,UA,OO,OO,...,5,18.0,0.0,0.0,0.0,0.0,N,False,SkyWest Airlines Inc.,United Airlines Inc.
6611684,2023,4,11,12,7,2023-11-12,F9,F9,F9,F9,...,4,NaN,NaN,NaN,NaN,NaN,N,False,Frontier Airlines Inc.,Frontier Airlines Inc.
204741,2023,1,1,28,6,2023-01-28,AA,AA,AA,AA,...,5,NaN,NaN,NaN,NaN,NaN,N,False,American Airlines Inc.,American Airlines Inc.

In [45]:
samples_combined.shape

(1250000, 56)

In [46]:
#export combined samples for Tableau Analysis

samples_combined.to_csv(os.path.join(path, 'Samples_Combined.csv'), index=False)  

# Specify index=False to avoid writing row numbers as a column